# Python Fundamentals

### Invoking Python

There are three main ways to use Python.

1. By running a Python file, e.g. python myscript.py
2. Through an interactive console (Python interpreter or iPython shell)
3. In an interactive notebook (e.g. Jupyter)

In this course, we will mostly be interacting with Python via Jupyter notebooks.

### Basic Variables: Numbers and String

In [2]:
# comments are anything that comes after the "#" symbol
a = 1       # assign 1 to variable a
b = "hello" # assign "hello" to variable b

The following identifiers are used as reserved words, or keywords of the language, and cannot be used as ordinary identifiers. They must be spelled exactly as written here:

    False      class      finally    is         return
    None       continue   for        lambda     try
    True       def        from       nonlocal   while
    and        del        global     not        with
    as         elif       if         or         yield
    assert     else       import     pass
    break      except     in         raise

Additionally, the following a built in functions which are always available in your namespace once you open a Python interpreter

    abs() dict() help() min() setattr() all() dir() hex() next() slice() any()
    divmod() id() object() sorted() ascii() enumerate() input() oct() staticmethod()
    bin() eval() int() open() str() bool() exec() isinstance() ord() sum() bytearray()
    filter() issubclass() pow() super() bytes() float() iter() print() tuple()
    callable() format() len() property() type() chr() frozenset() list() range()
    vars() classmethod() getattr() locals() repr() zip() compile() globals() map()
    reversed() __import__() complex() hasattr() max() round() delattr() hash()
    memoryview() set()

In [5]:
# how to we see our variables?
print(a)
print(b)
print(a,b)

1
hello
1 hello

All variables are objects. Every object has a type (class). To find out what type your variables are

In [6]:
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [7]:
# as a shortcut, iPython notebooks will automatically print whatever is on the last line
type(b)

str

In [8]:
# we can check for the type of an object
print(type(a) is int)
print(type(a) is str)

True
False

Different objects attributes and methods, which can be accessed via the syntax variable.method

In [9]:
# this returns the method itself
b.capitalize

In [10]:
# this calls the method
b.capitalize()
# there are lots of other methods

'Hello'

In [11]:
# binary operations act differently on different types of objects
c = 'World'
print(b + c)
print(a + 2)
print(a + b)

helloWorld
3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Math

Basic arithmetic and boolean logic is part of the core Python library.

In [12]:
# addition / subtraction
1+1-5

-3

In [13]:
# multiplication
5 * 10

50

In [14]:
# division
1/2

0.5

In [15]:
# that was automatically converted to a float
type(1/2)

float

In [16]:
# exponentiation
2**4

16

In [17]:
# rounding
round(9/10)

1

In [18]:
# built in complex number support
(1+2j) / (3-4j)

(-0.2+0.4j)

In [19]:
# logic
True and True

True

In [20]:
True and False

False

In [21]:
True or True

True

In [22]:
(not True) or (not False)

True

### Conditionals
The first step to programming. Plus an intro to Python syntax.

In [24]:
x = 100
if x > 0:
    print('Positive Number')
elif x < 0:
    print('Negative Number')
else:
    print ('Zero!')

Positive Number

In [25]:
# indentation is MANDATORY
# blocks are closed by indentation level
if x > 0:
    print('Positive Number')
    if x >= 100:
        print('Huge number!')

Positive Number
Huge number!

### More Flow Control

In [26]:
# make a loop 
count = 0
while count < 10:
    # bad way
    # count = count + 1
    # better way
    count += 1
print(count)

10

In [27]:
# use range
for i in range(5):
    print(i)

0
1
2
3
4

*Important point* : in Python, we always count from 0!

In [28]:
# what is range?
type(range)

type

In [29]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [30]:
# iterate over a list we make up
for pet in ['dog', 'cat', 'fish']:
    print(pet, len(pet))

dog 3
cat 3
fish 4

#### What is the thing in brackets? A list! Lists are one of the core Python data structures.

### Lists

In [71]:
l = ['dog', 'cat', 'fish']
type(l)

list

In [33]:
# list have lots of methods
l.sort()
l

['cat', 'dog', 'fish']

In [34]:
# we can convert a range to a list
r = list(range(5))
r

[0, 1, 2, 3, 4]

In [35]:
while r:
    p = r.pop()
    print('p:', p)
    print('r:', r)

p: 4
r: [0, 1, 2, 3]
p: 3
r: [0, 1, 2]
p: 2
r: [0, 1]
p: 1
r: [0]
p: 0
r: []

There are many different ways to interact with lists. Exploring them is part of the fun of Python.

There are many different ways to interact with lists. Exploring them is part of the fun of Python.

**list.append(x)** Add an item to the end of the list. Equivalent to a[len(a):] = [x].

**list.extend(L)** Extend the list by appending all the items in the given list. Equivalent to a[len(a):] = L.

**list.insert(i, x)** Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

**list.remove(x)** Remove the first item from the list whose value is x. It is an error if there is no such item.

**list.pop([i])** Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

**list.clear()** Remove all items from the list. Equivalent to del a[:].

**list.index(x)** Return the index in the list of the first item whose value is x. It is an error if there is no such item.

**list.count(x)** Return the number of times x appears in the list.

**list.sort()** Sort the items of the list in place.

**list.reverse()** Reverse the elements of the list in place.

**list.copy()** Return a shallow copy of the list. Equivalent to a[:].

Don’t assume you know how list operations work!

In [36]:
# "add" two lists
x = list(range(5))
y = list(range(10,15))
z = x + y
z

[0, 1, 2, 3, 4, 10, 11, 12, 13, 14]

In [37]:
# access items from a list
print('first', z[0])
print('last', z[-1])
print('first 3', z[:3])
print('last 3', z[-3:])
print('middle, skipping every other item', z[5:10:2])

first 0
last 14
first 3 [0, 1, 2]
last 3 [12, 13, 14]
middle, skipping every other item [10, 12, 14]

**MEMORIZE THIS SYNTAX!** It is central to so much of Python and often proves confusing for users coming from other languages.

In terms of set notation, Python indexing is left inclusive, right exclusive. If you remember this, you will never go wrong.

In [38]:
# that means we get an error from the following
N = len(z)
z[N]

IndexError: list index out of range

In [40]:
# this index notation also applies to strings
name = 'Isabelle Giddy'
print(name[:8])

Isabelle

In [41]:
# you can also test for the presence of items in a list
5 in z

False

Lists are not meant for maths! They don’t have a datatype.

In [42]:
z[4] = 'fish'
z

[0, 1, 2, 3, 'fish', 10, 11, 12, 13, 14]

Python is full of tricks for iterating and working with lists

In [43]:
# a cool Python trick: list comprehension
squares = [n**2 for n in range(5)]
squares

[0, 1, 4, 9, 16]

In [44]:
# iterate over two lists together uzing zip
for item1, item2 in zip(x,y):
    print('first:', item1, 'second:', item2)

first: 0 second: 10
first: 1 second: 11
first: 2 second: 12
first: 3 second: 13
first: 4 second: 14

### Other Data Structures

We are almost there. We have the building blocks we need to do basic programming. But Python has some other data structures we need to learn about.

### Tuples

Tuples are similar to lists, but they are immutable—they can’t be extended or modified. What is the point of this? Generally speaking: to pack together inhomogeneous data. Tuples can then be unpacked and distributed by other parts of your code.

Tuples may seem confusing at first, but with time you will come to appreciate them.

In [47]:
# tuples are created with parentheses, or just commas
a = ('Isabelle', 31, True)
b = 'Seb', 23, False
type(b)

tuple

In [48]:
# can be indexed like arrays
print(a[1]) # not the first element!

31

In [49]:
# and they can be unpacked
name, age, status = a

In [53]:
name

'Isabelle'

### Dictionaries

This is an extremely useful data structure. It maps **keys** to **values**.

Dictionaries are unordered!

In [54]:
# different ways to create dictionaries
d = {'name': 'Isabelle', 'age': 31}
e = dict(name='Seb', age=23)
e

{'name': 'Seb', 'age': 23}

In [55]:
# access a value
d['name']

'Isabelle'

Square brackets [...] are Python for “get item” in many different contexts.

In [56]:
# test for the presence of a key
print('age' in d)
print('height' in e)

True
False

In [57]:
# try to access a non-existant key
d['height']

KeyError: 'height'

In [61]:
# add a new key
d['height'] = (5,3) # a tuple
d

{'name': 'Isabelle', 'age': 31, 'height': (5, 3), 99: 'ninety nine'}

In [62]:
# keys don't have to be strings
d[99] = 'ninety nine'
d

{'name': 'Isabelle', 'age': 31, 'height': (5, 3), 99: 'ninety nine'}

In [67]:
# iterate over keys
for k in d:
    print(k, d[k])

name Isabelle
age 31
height (5, 3)
99 ninety nine

In [70]:
# better way
for key, val in d.items():
    print(key, val)

name Isabelle
age 31
height (5, 3)
99 ninety nine